.activity-areas {
  display: flex;
  justify-content: center;
  background: #ECE8DE;

  &__content {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #491246;
    padding: 72px 120px;
    scroll-margin-top: 92px;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      scroll-margin-top: 72px;
      padding: 40px 24px;
    }
  }

  &__info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 48px;
    gap: 48px;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 16px;
      margin-bottom: 24px;
    }
  }

  &__text {
    max-width: 450px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    @media (max-width: 1280px) {
      max-width: 100%;
    }
  }

  &__activities {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: stretch;
    width: 100%;
    gap: 24px;

    @media (max-width: 768px) {
      flex-wrap: wrap;
    }

    &--first {
      margin-bottom: 24px;
    }
  }
}