.clients {
  display: flex;
  justify-content: center;
  background-color: #491246;

  &__content {
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 72px 120px;
    scroll-margin-top: 92px;
    color: #fff;
    background-color: #491246;
    font-family: "DM Sans", sans-serif;
    letter-spacing: 0%;

    @media (max-width: 768px) {
      scroll-margin-top: 72px;
      padding: 40px 24px;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    margin: 0px 0px 24px;

    @media (max-width: 1280px) {
      font-size: 12px;
    }
  }

  &__description {
    font-weight: 600;
    font-size: 36px;
    margin: 0px 0px 96px;

    @media (max-width: 1280px) {
      font-size: 24px;
      margin: 0px 0px 48px;
    }

    &--bottom {
      margin: 96px 0px 48px;

      @media (max-width: 1280px) {
        font-size: 16px;
      }

      @media (max-width: 768px) {
        margin: 32px 0px 16px;
      }
    }
  }

  &__items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;

    @media (max-width: 1280px) {
      justify-content: center;
    }
  }

  &__item {
    cursor: pointer;
  }

  &__button {
    width: 181px;
    height: 41px;
    border-radius: 8px;
    background-color: #EEBBB4;
    color: #491246;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    border: none;
    cursor: pointer;
  }

  &__more-clients {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 88px;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border: none;
    margin-bottom: 80px;

    a {
      text-decoration: none;
      color: #fff;
    }

    @media (max-width: 768px) {
      gap: 24px;
    }
  }
}