html,
body {
  max-width: 100vw;
}

img {
  position: initial !important;
  height: initial !important;
  width: initial !important;
  inset: initial !important;
  color: initial !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: only light;
  }
}

:root {
  color-scheme: only light;
}