html {
  scroll-behavior: smooth;
}

.home {
  font-family: "DM Sans", sans-serif;
}

.section {
  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    margin: 0px 0px 24px;

    @media (max-width: 1280px) {
      margin: 0px 0px 16px;
      font-size: 12px;
    }
  }

  &__description {
    font-weight: 600;
    font-size: 36px;
    margin: 0px;
    line-height: 120%;

    @media (max-width: 1280px) {
      font-size: 24px;
    }

    &--small {
      font-weight: 400;
      font-size: 18px;

      @media (max-width: 1280px) {
        font-size: 16px;
      }
    }

    &--align-left {
      text-align: left;
    }

    &--align-center {
      text-align: center;
    }

    &--bold {
      font-weight: 600;
    }
  }
}

