.navbar {
  position: sticky;
  top: 0;
  background-color: #F1563A;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 120px;

  @media (max-width: 768px) {
    padding: 0 20px;
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1);
  }

  &__menu-container {
    display: flex;
    align-items: center;
    gap: 32px;
    justify-content: space-between;
    align-items: center;
    height: 92px;
    width: 100%;

    @media (max-width: 768px) {
      height: 72px;
    }
  }

  &__menu-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;

    @media (max-width: 768px) {
      display: block;
    }
  }

  &__logo {
    width: 100px;
    cursor: pointer;
  }

  &__links {
    display: flex;
    gap: 32px;
    color: #fff;
    text-decoration: none;

    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    align-items: center;
    a {
      text-decoration: none;
      color: #fff;
    }

    &--desktop {
      @media (max-width: 768px) {
        display: none;
      }
    }

    &--mobile {
      background-color: #F1563A;
      box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.1);
      justify-content: space-between;
      left: 0;
      right: 0;
      top: 72px;
      padding: 16px 20px;
      position: absolute;
      z-index: 100;
      @media (min-width: 769px) {
        display: none;
      }
    }
  }

  &__links-item {
    display: flex;
    align-items: center;
    width: 96px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
  }
}